#container {
	background-color: white;
	width: 95%;
	margin: 0 auto;
}

h1 {
    font-family: 'Merriweather', serif;
		font-size: 3em;
		text-align: center;
}

h2 {
    font-family: 'Open Sans', sans-serif;
		font-size: 1.5em;
}

h5 {
    font-family: 'Open Sans', sans-serif;
		font-size: 0.5em;
}

.paragraph {
	width: 55%;
	margin: 0 auto;
	font-family: 'Mansalva', cursive;
	text-align: center;
	font-size: 1.5em;

}


/* Links inside the dropdown */

#navbar {
	position: sticky;
}

#navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #ADD8E6;
	overflow: hidden;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

#navbar li{
	float: left;
	  position: sticky;
}

#navbar li a{
	display: block;
	color: white solid;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.2em;
  padding: 10px 180px;
  text-decoration: none;
}

#nav a:hover, #nav a:active {
	color: white solid;
	background-color: #ADD8E6;
}




.images {
    padding: 0;
	  list-style-type: none;
}


#footer {
	color: Black;
	margin-top: 50px;
  bottom: 0;
  text-align: center;
	text-decoration: overline;
	font-size: 1em;
	font-family: 'Noto Serif', serif;
}



/* project page */

.project
{
	text-align: center;
}


/* aboutme page */
#contact ul{
	list-style-type: none;
	font-size: 1.5em;
	text-decoration: none;
}

.aboutme
{
	text-align: center;
}

/*media query mobile*/

@media screen and (min-width:1024px) {
				.dropdown-content {
         display: flex;
				 flex-direction: row;
				justify-content: space-around;
				 background-color: lightblue;
         padding: 0;
         margin: 0;
    		 font-family: 'Open Sans', sans-serif;
         }



@media screen and (min-width:600px){
	.images {
		margin-right: 10px;
		margin-left: 15px;
		padding: 10px;
		display: grid;
		grid-gap: 10px;
		grid-template-areas:
				"a b"
				"c d"
				"e f"
				"g h"
				"i ." }

.image1 {
		grid-area: a;
}

.image2 {
		grid-area: b;
}

.image3 {
		grid-area: c;
}

.image4 {
		grid-area: d;
}

.image5 {
		grid-area: e;
}
.image6 {
		grid-area: f;
}

.image7 {
		grid-area: g;
}

.image8 {
		grid-area: h;
}

.image9 {
		grid-area: i;
}

.images li {
		background-color: #B0C4DE;
		border: 1px solid	#000000;
		padding: 10px;
		border-radius: 5px;}
  }


@media screen and (min-width:1024px) {
	.images {
    display: grid;
    grid-gap: 10px;
    grid-template-areas:
        "a b c"
        "d e f"
        "g h i"; }

.image1 {
    grid-area: a;
}

.image2 {
    grid-area: b;
}

.image3 {
    grid-area: c;
}

.image4 {
    grid-area: d;
}

.image5 {
    grid-area: e;
}
.image6 {
    grid-area: f;
}

.image7 {
    grid-area: g;
}

.image8 {
    grid-area: h;
}

.image9 {
    grid-area: i;
}

.images li {
    background-color: #ADD8E6;
    border: 2px solid	#000000;
    padding: 10px;
    border-radius: 5px;}
  }
