#container {
	background-color: white;
	width: 95%;
	margin: 0 auto;
}

h1 {
    font-family: 'Merriweather', serif;
		font-size: 3em;
		text-align: center;
}

h2 {
    font-family: 'Merriweather', serif;
		font-size: 1em;
}

h3 {
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
}

h4 {
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
	align-items: center;
}


.paragraph {
	width: 55%;
	margin: 0 auto;
	font-family: 'Mansalva', cursive;
	text-align: center;
	font-size: 1.5em;
}


#nav li {
    margin: 0;
    padding: 0;
	  border-bottom: 0.5px solid #FFE4E1;
		text-align: center;
}

#nav a:link {
	  display:block;
    color: #ffffff;
    font-weight: bold;
    text-align:center;
    padding: 0.5px;
		font-family:'Slabo 27px', serif;
}

#nav a:visited {
	color: #FFFACD;
}

#nav a:hover, #nav a:active {
	color: black;
	background-color: #FFE4E1;
}

.images {
    padding: 0;
	  list-style-type: none;
}

#footer {
	color: Black;
	border-top: 1px solid black;
	font-size: 0.6em;
	font-family: 'Noto Serif', serif;
	bottom: 0;
	right: 0;
	left: 0;
}


.header {
	display: flex;
	flex-direction: column;
}

@media screen and (min-width:700px) {
	.header {
    flex-direction: row;
		flex-wrap: wrap;
    justify-content: space-between;
		align-items: baseline;}
}


@media screen and (min-width:700px) {
	.paragraph {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;}
}

.images {
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  justify-content: center;
}

@media screen and (min-width:800px) {
	.images {
		flex-direction: row;
		justify-content: flex-start;
		flex-wrap: wrap;
		align-content: space-around;
		margin: 0;
		padding: 0;
		list-style: none;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 10px;
		grid-template-areas:
				"a b"
				"c d"
				"e f"
				"g h"
				"i ." }

.image1 {
		grid-area: a;
}

.image2 {
		grid-area: b;
}

.image3 {
		grid-area: c;
}

.image4 {
		grid-area: d;
}

.image5 {
		grid-area: e;
}
.image6 {
		grid-area: f;
}

.image7 {
		grid-area: g;
}

.image8 {
		grid-area: h;
}

.image9 {
		grid-area: i;
}

.images li {
		background-color: #B0C4DE;
		border: 1px solid	#000000;
		padding: 10px;
		border-radius: 1px;}
  }

@media screen and (min-width:1000px) {
	.images {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-content: space-around;
		margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    grid-template-areas:
        "a b c"
        "d e f"
        "g h i"; }

.image1 {
    grid-area: a;
}

.image2 {
    grid-area: b;
}

.image3 {
    grid-area: c;
}

.image4 {
    grid-area: d;
}

.image5 {
    grid-area: e;
}
.image6 {
    grid-area: f;
}

.image7 {
    grid-area: g;
}

.image8 {
    grid-area: h;
}

.image9 {
    grid-area: i;
}

.images li {
    background-color: #ADD8E6;
    border: 2px solid	#000000;
    padding: 10px;
    border-radius: 1px;}
  }


	@media screen and (min-width: 1024px)
	{
	    #container {
	    height: 200px;
	    width: 50%;
	    max-width: 1000px;
	    }
	}
