
.header {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}



@media screen and (min-width:600px) {
	.header {
    flex-direction: row;
    justify-content: space-around;
  align-items: flex-start;}

}



#nav {
  display: flex;
  flex-direction: column;
  align-content: stretch;
  justify-content: space-around;
}



@media screen and (min-width:600px) {
	#nav {
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: baseline;}
}
