body {
	font-size: 1em;
	align-items: center;
	background-color: #FFB6C1
}


h1 {
    font-family: 'Merriweather', serif;
		font-size: 4em;
		text-align: center;
}


h2 {
	font-family: Arial Black, Arial, sans-serif;
	font-size: 1em;
	text-align: center;
}

h3 {
	font-family: Arial Black, Arial, sans-serif;
	font-size: 1em;
	text-align: center;
}

h4 {
	font-family: Arial Black, Arial, sans-serif;
	font-size: 1em;
	text-align: center;
}

p {
	font-family: Georgia, "Times New Roman", serif;
	text-align: center;
	font-size: 0.8em;
}


#container{
    width: 95%;
    margin: 0 auto;
}

#nav {
    padding: 0;
	  list-style-type: none;
}

#nav li {
    margin: 0;
    padding: 0;
	  border-bottom: 0.5px solid #FFE4E1;
		text-align: center;
}

#nav a:link {
	  display:block;
    color: #ffffff;
    background-color: #F08080;
    font-weight: bold;
    text-align:center;
    padding: 0.5px;
		font-family:'Slabo 27px', serif;
}

#nav a:visited {
	color: #FFFACD;
	background-color:#F08080;
}

#nav a:hover, #nav a:active {
	color: black;
	background-color: #FFE4E1;
}


img {
	border: none;
	align-items:
}

#footer {
	color: Black;
	border-top: 1px solid black;
	font-size: 0.6em;
	font-family: 'Noto Serif', serif;
}
